<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/style.css">
 <link rel="shortcut icon" type="image/png" href="/img/200.png">
</head>

<body>
       {{>header}}
    <h1 style="color: chartreuse;">Weather Help</h1>
       <div class="Para_container ">
    <p class="para1">{{help}}</p>
        <p class="para2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, sed praesentium. Accusantium vel quia numquam consequuntur hic amet quibusdam nobis quis dicta officia atque eum et, laudantium magni eius eaque.</p>
    </div>

    <br>
    <br>
    <br><br>
    {{>footer}}
</body>

</html>